In [106]:
# load the dataset
import pandas as pd
import numpy as np

df = pd.read_csv("./pakistan-used-cars-data.csv")
df

,Title,Mileage,Model,Color,BodyType,EngineCapacity,FuelType,Transmission,RegisteredIn,Assembly,Price,Location,LastUpdated,ReferenceNo
0,Toyota Yaris Sedan ATIV MT 1.3 2025,30 km,2025.0,White,Sedan,1300 cc,Petrol,Manual,Un-Registered,Local,PKR 51 lacs,Lahore Punjab,"Jun 30, 2025",10262585.0
1,Honda Civic 1.5 VTEC Turbo Oriel 2020,"72,000 km",2020.0,Crystal Black Pearl,Sedan,1500 cc,Petrol,Automatic,Islamabad,Local,PKR 65.75 lacs,"Shadman, Lahore Punjab","Jun 30, 2025",10138164.0
2,BMW 5 Series 520d 2012,"136,862 km",2012.0,White,Sedan,2000 cc,Diesel,Automatic,Islamabad,Local,PKR 1.2 crore,"I- 9, Islamabad Islamabad","Jun 30, 2025",9887693.0
3,Audi A6 1.8 TFSI Business Class Edition 2015,"90,768 km",2015.0,Black,Sedan,1800 cc,Petrol,Automatic,Islamabad,Imported,PKR 1.07 crore,"Defence Phase-2, Islamabad Islamabad","Jun 30, 2025",10262536.0
4,Toyota Corolla GLi 1.3 VVTi Special Edition 2019,"90,000 km",2019.0,Super White,Sedan,1300 cc,Petrol,Manual,Punjab,Local,PKR 42.5 lacs,"Satiana Road, Faisalabad Punjab","Jun 30, 2025",10257615.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Suzuki Alto 2010,"100,000 km",2010.0,White,NaN,660 cc,Petrol,Automatic,Sindh,Local,PKR 13.85 lacs,"G- 7, Islamabad Islamabad","Jun 29, 2025",10115450.0
2934,KIA Picanto 1.0 MT 2023,"28,000 km",2023.0,Black,Hatchback,1000 cc,Petrol,Manual,Sindh,Local,PKR 27.75 lacs,"Gulshan-e-Jamal, Karachi Sindh","Jun 29, 2025",10259846.0
2935,Suzuki Bolan 2017,"780,000 km",2017.0,White,NaN,800 cc,Petrol,Manual,Punjab,Local,PKR 14.5 lacs,"Chungi No 9, Multan Punjab","Jun 29, 2025",10259845.0
2936,Suzuki Mehran VXR Euro II 2014,"49,596 km",2014.0,Grey,Hatchback,800 cc,Petrol,Manual,Punjab,Local,PKR 13 lacs,"BAHRIA PHASE 8, Rawalpindi Punjab","Jun 29, 2025",10259843.0
2937,Toyota Corolla Altis SR Cruisetronic 1.6 2013,"156,000 km",2013.0,Gold,Sedan,1600 cc,Petrol,Automatic,Islamabad,Local,PKR 33 lacs,"T.I.P Housing Society, Haripur KPK","Jun 29, 2025",10259836.0

In [107]:
# rows and columns
df.shape

(2938, 14)

In [108]:
# checking columns datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           2926 non-null   object
 1   Mileage         2937 non-null   object
 2   Model           2937 non-null   float64
 3   Color           2937 non-null   object
 4   BodyType        2686 non-null   object
 5   EngineCapacity  2903 non-null   object
 6   FuelType        2937 non-null   object
 7   Transmission    2937 non-null   object
 8   RegisteredIn    2937 non-null   object
 9   Assembly        2937 non-null   object
 10  Price           2937 non-null   object
 11  Location        2926 non-null   object
 12  LastUpdated     2937 non-null   object
 13  ReferenceNo     2937 non-null   float64
dtypes: float64(2), object(12)
memory usage: 321.5+ KB

The first and last columns are not really important because first column is of title
of car which is almost unique in every row and last column is just a reference to
the original ad. Dropping them both. As well as, dropping the LastUpdated column.

In [109]:
df.drop(['Title', 'ReferenceNo', 'LastUpdated'], axis=1, inplace=True)
df

,Mileage,Model,Color,BodyType,EngineCapacity,FuelType,Transmission,RegisteredIn,Assembly,Price,Location
0,30 km,2025.0,White,Sedan,1300 cc,Petrol,Manual,Un-Registered,Local,PKR 51 lacs,Lahore Punjab
1,"72,000 km",2020.0,Crystal Black Pearl,Sedan,1500 cc,Petrol,Automatic,Islamabad,Local,PKR 65.75 lacs,"Shadman, Lahore Punjab"
2,"136,862 km",2012.0,White,Sedan,2000 cc,Diesel,Automatic,Islamabad,Local,PKR 1.2 crore,"I- 9, Islamabad Islamabad"
3,"90,768 km",2015.0,Black,Sedan,1800 cc,Petrol,Automatic,Islamabad,Imported,PKR 1.07 crore,"Defence Phase-2, Islamabad Islamabad"
4,"90,000 km",2019.0,Super White,Sedan,1300 cc,Petrol,Manual,Punjab,Local,PKR 42.5 lacs,"Satiana Road, Faisalabad Punjab"
...,...,...,...,...,...,...,...,...,...,...,...
2933,"100,000 km",2010.0,White,NaN,660 cc,Petrol,Automatic,Sindh,Local,PKR 13.85 lacs,"G- 7, Islamabad Islamabad"
2934,"28,000 km",2023.0,Black,Hatchback,1000 cc,Petrol,Manual,Sindh,Local,PKR 27.75 lacs,"Gulshan-e-Jamal, Karachi Sindh"
2935,"780,000 km",2017.0,White,NaN,800 cc,Petrol,Manual,Punjab,Local,PKR 14.5 lacs,"Chungi No 9, Multan Punjab"
2936,"49,596 km",2014.0,Grey,Hatchback,800 cc,Petrol,Manual,Punjab,Local,PKR 13 lacs,"BAHRIA PHASE 8, Rawalpindi Punjab"
2937,"156,000 km",2013.0,Gold,Sedan,1600 cc,Petrol,Automatic,Islamabad,Local,PKR 33 lacs,"T.I.P Housing Society, Haripur KPK"

Now, I will work with Mileage and EngineCapacity columns to get them free from
unwanted units and make them integers

In [110]:
df['Mileage'] = df['Mileage'].str.strip(" km")
df['Mileage'] = df['Mileage'].str.replace(",", "").astype(float)
df['EngineCapacity'] = df['EngineCapacity'].str.strip(" cc").astype(float)
df

,Mileage,Model,Color,BodyType,EngineCapacity,FuelType,Transmission,RegisteredIn,Assembly,Price,Location
0,30.0,2025.0,White,Sedan,1300.0,Petrol,Manual,Un-Registered,Local,PKR 51 lacs,Lahore Punjab
1,72000.0,2020.0,Crystal Black Pearl,Sedan,1500.0,Petrol,Automatic,Islamabad,Local,PKR 65.75 lacs,"Shadman, Lahore Punjab"
2,136862.0,2012.0,White,Sedan,2000.0,Diesel,Automatic,Islamabad,Local,PKR 1.2 crore,"I- 9, Islamabad Islamabad"
3,90768.0,2015.0,Black,Sedan,1800.0,Petrol,Automatic,Islamabad,Imported,PKR 1.07 crore,"Defence Phase-2, Islamabad Islamabad"
4,90000.0,2019.0,Super White,Sedan,1300.0,Petrol,Manual,Punjab,Local,PKR 42.5 lacs,"Satiana Road, Faisalabad Punjab"
...,...,...,...,...,...,...,...,...,...,...,...
2933,100000.0,2010.0,White,NaN,660.0,Petrol,Automatic,Sindh,Local,PKR 13.85 lacs,"G- 7, Islamabad Islamabad"
2934,28000.0,2023.0,Black,Hatchback,1000.0,Petrol,Manual,Sindh,Local,PKR 27.75 lacs,"Gulshan-e-Jamal, Karachi Sindh"
2935,780000.0,2017.0,White,NaN,800.0,Petrol,Manual,Punjab,Local,PKR 14.5 lacs,"Chungi No 9, Multan Punjab"
2936,49596.0,2014.0,Grey,Hatchback,800.0,Petrol,Manual,Punjab,Local,PKR 13 lacs,"BAHRIA PHASE 8, Rawalpindi Punjab"
2937,156000.0,2013.0,Gold,Sedan,1600.0,Petrol,Automatic,Islamabad,Local,PKR 33 lacs,"T.I.P Housing Society, Haripur KPK"

After that we will go with price column which is the target y for our training model

In [111]:
df['Price'] = df['Price'].str.strip("PKR")
df['Price'] = df['Price'].str.replace(" ", "")
df

,Mileage,Model,Color,BodyType,EngineCapacity,FuelType,Transmission,RegisteredIn,Assembly,Price,Location
0,30.0,2025.0,White,Sedan,1300.0,Petrol,Manual,Un-Registered,Local,51lacs,Lahore Punjab
1,72000.0,2020.0,Crystal Black Pearl,Sedan,1500.0,Petrol,Automatic,Islamabad,Local,65.75lacs,"Shadman, Lahore Punjab"
2,136862.0,2012.0,White,Sedan,2000.0,Diesel,Automatic,Islamabad,Local,1.2crore,"I- 9, Islamabad Islamabad"
3,90768.0,2015.0,Black,Sedan,1800.0,Petrol,Automatic,Islamabad,Imported,1.07crore,"Defence Phase-2, Islamabad Islamabad"
4,90000.0,2019.0,Super White,Sedan,1300.0,Petrol,Manual,Punjab,Local,42.5lacs,"Satiana Road, Faisalabad Punjab"
...,...,...,...,...,...,...,...,...,...,...,...
2933,100000.0,2010.0,White,NaN,660.0,Petrol,Automatic,Sindh,Local,13.85lacs,"G- 7, Islamabad Islamabad"
2934,28000.0,2023.0,Black,Hatchback,1000.0,Petrol,Manual,Sindh,Local,27.75lacs,"Gulshan-e-Jamal, Karachi Sindh"
2935,780000.0,2017.0,White,NaN,800.0,Petrol,Manual,Punjab,Local,14.5lacs,"Chungi No 9, Multan Punjab"
2936,49596.0,2014.0,Grey,Hatchback,800.0,Petrol,Manual,Punjab,Local,13lacs,"BAHRIA PHASE 8, Rawalpindi Punjab"
2937,156000.0,2013.0,Gold,Sedan,1600.0,Petrol,Automatic,Islamabad,Local,33lacs,"T.I.P Housing Society, Haripur KPK"

In [112]:
def clean_price(value):
    value = str(value).strip()

    if 'Call' in value:
        return np.nan
    if 'lacs' in value:
        x = float(value.replace('lacs', ''))
        return x * 100000
    elif 'crore' in value:
        x = float(value.replace('crore', ''))
        return x * 10000000
    else:
        return float(value)


df['Price'] = df['Price'].apply(clean_price)

df.dropna(subset=['Price'], inplace=True)

df

,Mileage,Model,Color,BodyType,EngineCapacity,FuelType,Transmission,RegisteredIn,Assembly,Price,Location
0,30.0,2025.0,White,Sedan,1300.0,Petrol,Manual,Un-Registered,Local,5100000.0,Lahore Punjab
1,72000.0,2020.0,Crystal Black Pearl,Sedan,1500.0,Petrol,Automatic,Islamabad,Local,6575000.0,"Shadman, Lahore Punjab"
2,136862.0,2012.0,White,Sedan,2000.0,Diesel,Automatic,Islamabad,Local,12000000.0,"I- 9, Islamabad Islamabad"
3,90768.0,2015.0,Black,Sedan,1800.0,Petrol,Automatic,Islamabad,Imported,10700000.0,"Defence Phase-2, Islamabad Islamabad"
4,90000.0,2019.0,Super White,Sedan,1300.0,Petrol,Manual,Punjab,Local,4250000.0,"Satiana Road, Faisalabad Punjab"
...,...,...,...,...,...,...,...,...,...,...,...
2933,100000.0,2010.0,White,NaN,660.0,Petrol,Automatic,Sindh,Local,1385000.0,"G- 7, Islamabad Islamabad"
2934,28000.0,2023.0,Black,Hatchback,1000.0,Petrol,Manual,Sindh,Local,2775000.0,"Gulshan-e-Jamal, Karachi Sindh"
2935,780000.0,2017.0,White,NaN,800.0,Petrol,Manual,Punjab,Local,1450000.0,"Chungi No 9, Multan Punjab"
2936,49596.0,2014.0,Grey,Hatchback,800.0,Petrol,Manual,Punjab,Local,1300000.0,"BAHRIA PHASE 8, Rawalpindi Punjab"
2937,156000.0,2013.0,Gold,Sedan,1600.0,Petrol,Automatic,Islamabad,Local,3300000.0,"T.I.P Housing Society, Haripur KPK"

Now, I am going to work on rest of the columns and do categorical encoding.

In [113]:
# unique function to see how many unique values are there so we can make those 
# into columns
unique_colors = df['Color'].unique()
print(unique_colors)

['White' 'Crystal Black Pearl' 'Black' 'Super White' 'Burgundy'
 'Solid White' 'Graphite Grey' 'Quartz Black' 'Crystal Black' 'Red'
 'Grenada Black Pearl' 'Grey' 'Silver' 'Silver Metallic'
 'White White Pearl Crystal Shine' 'Turquoise' 'Green'
 'Metallic Steel Gray' 'Beige' 'Silky Silver' 'Pure White Pearl'
 'White Pearl' 'Meteoroid Grey Metallic' 'Maroon' 'Other' 'Navy'
 'Alabaster Silver' 'Grey Graphite' 'Pearl Black Metallic' 'Taffeta White'
 'Teffeta White' 'Polar White' 'Unlisted' 'Modern Steel Metallic' 'Indigo'
 'Gold' 'Gray Metallic' 'Panthera Metal Pearl Metallic'
 'Urban Titanium Metallic' 'White Pearl Crystal Shine'
 'White Orchid Pearl' 'Blue' 'Snow White Pearl' 'Dark Blue' 'Bronze'
 'Black Mica Metallic' 'Dolomite White Metallic' 'Black Sapphire'
 'Premium Crystal Red Metallic' 'Uyuni White' 'Pearl White'
 'Lemon Squash Metallic' 'Snow White' 'Attitude Black' 'Medium Silver'
 'Super white' 'Polished Metal Metallic' 'Dark Brown'
 'Bright Silver Metallic' 'Silky Silver Metallic' 'Celestial Black'
 'Super White II' 'Strong Blue' 'Pearl Red' 'Phantom Black' 'Royal Blue'
 'Bluish Black Pearl' 'Crystal White' 'Brown' 'Galaxy Black' 'Yellow'
 'Superior White' 'Lunar Silver Metallic' 'Metallic Grey'
 'Brilliant Black' 'Shining White Pearl' 'Gunmaitalic' 'Blue Metallic'
 'Dark Grey' 'Black Mica' 'Rose Gold' 'Moon Light Silver' 'Blue Pearl'
 'Pearl White III' 'Onyx Black' 'Fery Red' 'Black Sand Pearl'
 'Laser Blue Crystal Shine' 'Cosmic Blue' 'GREY MET' 'Aztec Green Pearl'
 'Beige Mica Metallic' 'Attitude Black Mica' 'Pure White'
 'Lake Blue Metallic' 'Purple' 'Grantic Verde Metallic' 'Dark Maroon'
 'Jet Grey' 'Obsidian Black' 'Bronze Mica' 'Rose Metalic' 'Mercury Grey'
 'Champagne Gold' 'Canyon Stone Silver Metallic' 'Army'
 'Denim Blue Metallic' 'Strong Blue Metallic' 'Light Blue'
 'Silver Mica Metallic' 'Diamond Metallic Black' 'Metallic Ultra Blue'
 'Super Platinum Grey Metallic' 'Super Black' 'metallic mat black'
 'Mica Black Metallic' 'Torino Red Pearl' 'Black Diamond Metallic'
 'Arctic White' 'Black Pearl' 'Urban Titanium' 'Navi Blue'
 'Pearl White Multi Coat' 'Metalic Gray' 'Gun Metallic'
 'Cool Khaki Pearl Metallic' 'Clear White' 'Diamond Black' 'Frost White'
 'Platinum White Pearl' 'Charcoal Grey Pearl' 'Rose Metallic' 'Grey Color'
 'Silver Green' 'Bluish Silver Metallic' 'Sterling Silver' 'white'
 'Cyan Metallic' 'Aromatic Aqua Metallic' 'Diamond Silver Metallic'
 'Dark Blue Mica' 'Turquoise Blue Metallic' 'Dimaond White Metallic'
 'Carbon Black' 'Silver metallic' 'Dark Green Mica' 'Red Wine'
 'Two Tone (Red With Black Roof)' 'Zinc' 'Absolutely Red'
 'Black Sapphire Metallic' 'Shimmering Green' 'Fiery Red' 'Milano Red'
 'Stellar White' 'Granada Black Pearl' 'Lunar Silver' 'Pearl Black'
 'Red Mica' 'Bright silver metallic' 'Phoenix Red Pearl' 'Mercury Blue'
 'silver metallic' 'Shalimar Rose Mist' 'Ruse Black Metallic'
 'Steller White' 'Space Gray' 'Storm Silver Metallic' 'Ski White'
 'Dark Grey Mica Metallic' 'Sky Blue' 'Brick Red' 'Golden' 'Mineral Grey'
 'Calcedony Silver' 'Wine Red' 'Blue Mica Metallic' 'Carnelian Red'
 'Olive Green' 'Matel Green' 'Tokyo Red' 'Phantom Brown' 'Dark Metal Grey'
 'Sparkling Silver' 'Lavender' 'Brillant White' 'Pink' 'Cyprus Blue Pearl'
 'White Pearl Crystal' 'Celestite Gray Metallic' 'RED Mica Metallic'
 'Superia White' 'Fire Quartz Red Metallic' 'Noble White' 'Black And Red'
 'Smoke Green' 'Alpine White' 'Fire Quartz Red' 'White Pearl Mica'
 'Cerulean Blue' 'Misty Green Pearl' 'Black Diamond'
 'Meteriod Gray Metallic' '🩶' 'Electric Blue' 'Moonlight Blue'
 'Ivory White' 'Alabaster Silver Metallic' 'Pearl White Metallic'
 'Hampton Gray' 'Eminent Blue' 'Tuxedo Black' 'Sakura' 'Rallye Red'
 'Metallic Torino Red' 'Brilliant White' 'Ralley Red' 'Super Pearl Black'
 'Light Blue Metallic' 'Black Metallic' 'Oxford Blue' 'Cherry Black'
 'Cosmos Black' 'Dark Green' 'Peach Colour' 'Harvard Blue' 'Phoenix Red'
 'Greyish Blue' 'Dark Brown Mica Metallic' 'York White' 'Dark Blue Pearl'
 'Armour Silver' 'Rose Pink' 'Brilliant Silver' 'Mica Black' 'Dorado Gold'
 'Bayou Blue' 'Sand Beige' 'Canon Gray' 'Artic Frost'
 'Obsidian Black Metallic' 'Pure Red' 'Steel Grey'
 'Meteoroid Gray Metalic']

In [114]:
unique_colors_count = df['Color'].value_counts()
print(unique_colors_count)

Color
White                     592
Black                     260
Silver                    238
Solid White               177
Grey                      141
                         ...
Cyan Metallic               1
Silver Green                1
Grey Color                  1
Rose Metallic               1
Meteoroid Gray Metalic      1
Name: count, Length: 244, dtype: int64

In [115]:
top_5_colors = df['Color'].value_counts().head(5).index.tolist()

print(f"The top 5 colors are: {top_5_colors}")

The top 5 colors are: ['White', 'Black', 'Silver', 'Solid White', 'Grey']

In [116]:
# Create a new column for each of the top 5
for color in top_5_colors:
    df[f'Color_{color}'] = np.where(df['Color'] == color, 1, 0)

# Create the 'Color_Other' column
# np.where(condition, value_if_True, value_if_False)
# Here, the condition is "is the car's color in our top 5 list?"
# If True, it's NOT 'Other', so we put 0.
# If False, it IS 'Other', so we put 1.
df['Color_Other'] = np.where(df['Color'].isin(top_5_colors), 0, 1)

In [117]:
# Drop the original 'Color' column, as it's now been replaced
df.drop('Color', axis=1, inplace=True)

df.head()

,Mileage,Model,BodyType,EngineCapacity,FuelType,Transmission,RegisteredIn,Assembly,Price,Location,Color_White,Color_Black,Color_Silver,Color_Solid White,Color_Grey,Color_Other
0,30.0,2025.0,Sedan,1300.0,Petrol,Manual,Un-Registered,Local,5100000.0,Lahore Punjab,1,0,0,0,0,0
1,72000.0,2020.0,Sedan,1500.0,Petrol,Automatic,Islamabad,Local,6575000.0,"Shadman, Lahore Punjab",0,0,0,0,0,1
2,136862.0,2012.0,Sedan,2000.0,Diesel,Automatic,Islamabad,Local,12000000.0,"I- 9, Islamabad Islamabad",1,0,0,0,0,0
3,90768.0,2015.0,Sedan,1800.0,Petrol,Automatic,Islamabad,Imported,10700000.0,"Defence Phase-2, Islamabad Islamabad",0,1,0,0,0,0
4,90000.0,2019.0,Sedan,1300.0,Petrol,Manual,Punjab,Local,4250000.0,"Satiana Road, Faisalabad Punjab",0,0,0,0,0,1

Going to do the same thing with BodyType column

In [118]:
unique_body_type = df['BodyType'].unique()
print(unique_body_type)

['Sedan' 'Hatchback' 'Crossover' nan 'SUV' 'Truck' 'Station Wagon'
 'Compact SUV' 'Compact sedan' 'Mini Van' 'Pick Up' 'MPV' 'Mini Vehicles'
 'Single Cabin' 'Micro Van' 'Van' 'Double Cabin' 'Coupe']

In [119]:
unique_bodytype_count = df['BodyType'].value_counts()
print(unique_bodytype_count)

BodyType
Hatchback        1070
Sedan             956
Crossover         237
SUV               165
Mini Van           49
Compact sedan      26
Van                24
MPV                23
Double Cabin       23
Compact SUV        20
Micro Van          16
Pick Up            15
Station Wagon      13
Coupe               8
Mini Vehicles       5
Single Cabin        3
Truck               2
Name: count, dtype: int64

In [120]:
top_5_bodytype = df['BodyType'].value_counts().head(5).index.tolist()

print(f"The top 5 bodytypes are: {top_5_bodytype}")

The top 5 bodytypes are: ['Hatchback', 'Sedan', 'Crossover', 'SUV', 'Mini Van']

In [121]:
for body in top_5_bodytype:
    df[f'BodyType_{body}'] = np.where(df['BodyType'] == body, 1, 0)

df['BodyType_Others'] = np.where(df['BodyType'].isin(top_5_bodytype), 0, 1)

In [122]:
df.drop('BodyType', axis=1, inplace=True)

df.head()

,Mileage,Model,EngineCapacity,FuelType,Transmission,RegisteredIn,Assembly,Price,Location,Color_White,...,Color_Silver,Color_Solid White,Color_Grey,Color_Other,BodyType_Hatchback,BodyType_Sedan,BodyType_Crossover,BodyType_SUV,BodyType_Mini Van,BodyType_Others
0,30.0,2025.0,1300.0,Petrol,Manual,Un-Registered,Local,5100000.0,Lahore Punjab,1,...,0,0,0,0,0,1,0,0,0,0
1,72000.0,2020.0,1500.0,Petrol,Automatic,Islamabad,Local,6575000.0,"Shadman, Lahore Punjab",0,...,0,0,0,1,0,1,0,0,0,0
2,136862.0,2012.0,2000.0,Diesel,Automatic,Islamabad,Local,12000000.0,"I- 9, Islamabad Islamabad",1,...,0,0,0,0,0,1,0,0,0,0
3,90768.0,2015.0,1800.0,Petrol,Automatic,Islamabad,Imported,10700000.0,"Defence Phase-2, Islamabad Islamabad",0,...,0,0,0,0,0,1,0,0,0,0
4,90000.0,2019.0,1300.0,Petrol,Manual,Punjab,Local,4250000.0,"Satiana Road, Faisalabad Punjab",0,...,0,0,0,1,0,1,0,0,0,0

Going to do the same to RegisteredIn column as well

In [123]:
unique_registered = df['RegisteredIn'].unique()
print(unique_registered)

['Un-Registered' 'Islamabad' 'Punjab' 'Sindh' 'Lahore' 'Karachi'
 'Rawalpindi' 'Abbottabad' 'Adda jahan khan' 'Peshawar' 'Multan' 'Gilgit'
 'Bahawalpur' 'Faisalabad' 'Gujranwala' 'Sargodha' 'Rahim Yar Khan'
 'Okara' 'Sohawa district daska' 'Sialkot' 'Muzaffarabad' 'Quetta' 'Bannu'
 'Gujrat' 'Dera ismail khan' 'Jhelum' 'Mardan' 'Bahawalnagar' 'Hyderabad'
 'Kasur' 'Jhang' 'Kashmir' 'Mirpur A.K.']

In [124]:
unique_registered_count = df['RegisteredIn'].value_counts()
print(unique_registered_count)

RegisteredIn
Islamabad                683
Lahore                   599
Punjab                   419
Karachi                  404
Un-Registered            318
Sindh                    308
Rawalpindi                33
Multan                    31
Faisalabad                20
Abbottabad                16
Peshawar                  16
Bahawalpur                11
Adda jahan khan            9
Sialkot                    7
Gujranwala                 4
Gujrat                     3
Jhelum                     2
Hyderabad                  2
Bahawalnagar               2
Quetta                     2
Mardan                     2
Kashmir                    1
Jhang                      1
Kasur                      1
Rahim Yar Khan             1
Dera ismail khan           1
Bannu                      1
Muzaffarabad               1
Sohawa district daska      1
Okara                      1
Sargodha                   1
Gilgit                     1
Mirpur A.K.                1
Name: count, dtype: int64

In [125]:
top_5_registered = df['RegisteredIn'].value_counts().head(5).index.tolist()

print(f"The top 5 bodytypes are: {top_5_registered}")

The top 5 bodytypes are: ['Islamabad', 'Lahore', 'Punjab', 'Karachi', 'Un-Registered']

In [126]:
for reg in top_5_registered:
    df[f'RegisteredIn_{reg}'] = np.where(df['RegisteredIn'] == reg, 1, 0)

df['RegisteredIn_Others'] = np.where(df['RegisteredIn'].isin(top_5_registered), 0, 1)

In [127]:
df.drop('RegisteredIn', axis=1, inplace=True)

df.head()

,Mileage,Model,EngineCapacity,FuelType,Transmission,Assembly,Price,Location,Color_White,Color_Black,...,BodyType_Crossover,BodyType_SUV,BodyType_Mini Van,BodyType_Others,RegisteredIn_Islamabad,RegisteredIn_Lahore,RegisteredIn_Punjab,RegisteredIn_Karachi,RegisteredIn_Un-Registered,RegisteredIn_Others
0,30.0,2025.0,1300.0,Petrol,Manual,Local,5100000.0,Lahore Punjab,1,0,...,0,0,0,0,0,0,0,0,1,0
1,72000.0,2020.0,1500.0,Petrol,Automatic,Local,6575000.0,"Shadman, Lahore Punjab",0,0,...,0,0,0,0,1,0,0,0,0,0
2,136862.0,2012.0,2000.0,Diesel,Automatic,Local,12000000.0,"I- 9, Islamabad Islamabad",1,0,...,0,0,0,0,1,0,0,0,0,0
3,90768.0,2015.0,1800.0,Petrol,Automatic,Imported,10700000.0,"Defence Phase-2, Islamabad Islamabad",0,1,...,0,0,0,0,1,0,0,0,0,0
4,90000.0,2019.0,1300.0,Petrol,Manual,Local,4250000.0,"Satiana Road, Faisalabad Punjab",0,0,...,0,0,0,0,0,0,1,0,0,0

In [128]:
# handle any missing values just in case
df['Location'] = df['Location'].fillna('Unknown')

# create a new 'Region' column
# .split():  split the string into a list of words 
# [-1]:      get the last word from that list 
df['Region'] = df['Location'].apply(lambda x: str(x).split()[-1])

print("Cleaned Region Categories:")
print(df['Region'].value_counts())

Cleaned Region Categories:
Region
Punjab         1551
Sindh           609
Islamabad       463
KPK             230
Balochistan      24
Kashmir          15
Unknown          11
Name: count, dtype: int64

In [129]:
top_5_regions = df['Region'].value_counts().head(5).index.tolist()

print(f"The top 5 regions are: {top_5_regions}")

for region in top_5_regions:
    df[f'Region_{region}'] = np.where(df['Region'] == region, 1, 0)

df['Region_Other'] = np.where(df['Region'].isin(top_5_regions), 0, 1)

The top 5 regions are: ['Punjab', 'Sindh', 'Islamabad', 'KPK', 'Balochistan']

In [130]:
df.drop(['Location', 'Region'], axis=1, inplace=True)

df.head()

,Mileage,Model,EngineCapacity,FuelType,Transmission,Assembly,Price,Color_White,Color_Black,Color_Silver,...,RegisteredIn_Punjab,RegisteredIn_Karachi,RegisteredIn_Un-Registered,RegisteredIn_Others,Region_Punjab,Region_Sindh,Region_Islamabad,Region_KPK,Region_Balochistan,Region_Other
0,30.0,2025.0,1300.0,Petrol,Manual,Local,5100000.0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
1,72000.0,2020.0,1500.0,Petrol,Automatic,Local,6575000.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,136862.0,2012.0,2000.0,Diesel,Automatic,Local,12000000.0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,90768.0,2015.0,1800.0,Petrol,Automatic,Imported,10700000.0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,90000.0,2019.0,1300.0,Petrol,Manual,Local,4250000.0,0,0,0,...,1,0,0,0,1,0,0,0,0,0